<div id="footer">
  <div class="bg_top_footer">
    <div class="top_footer">
      <div class="f_widget first">
        <h3><strong>О</strong> нас</h3>
        <a href="#" class="footer_logo">AutoGT</a>
        <p> Интернет - магазин "Фаниполь" приветствует всех гостей посетившие наш сайт. Мы готовы предложить Вам продукцию от ведущих производителей занимающиеся производством аккумуляторов.
          Продажа и доставка осуществляется в г. Минске (Московский р-н), Фаниполе, Дзержинске и прилегающих районах.</p>
      </div>
      <div class="f_widget divide second">
        <h3><strong>Время</strong> работы</h3>
        <ul class="schedule">
          <li>
            <strong>Понедельник</strong>
            <span>09:00 — 19:00</span>
          </li>
          <li>
            <strong>Вторник</strong>
            <span>09:00 — 19:00</span>
          </li>
          <li>
            <strong>Среда</strong>
            <span>09:00 — 19:00</span>
          </li>
          <li>
            <strong>Четверг</strong>
            <span>09:00 — 19:00</span>
          </li>
          <li>
            <strong>Пятница</strong>
            <span>09:00 — 19:00</span>
          </li>
          <li>
            <strong>Суббота</strong>
            <span>10:00 — 14:00</span>
          </li>
          <li>
            <strong>Воскресенье</strong>
            <span>10:00 — 14:00</span>
          </li>
        </ul>
      </div>
      <div class="fwidget_separator"></div>
      <div class="f_widget third">
        <h3><strong>Наши</strong> контакты</h3>
        <div class="f_contact f_contact_1"><strong>Адресс:<br/></strong>Республика Беларусь, Минская область,
          г.Фаниполь, ул. Я.Купалы, 3
        </div>
        <div class="f_contact f_contact_2"><strong>Телефоны:</strong> +375 (29) 836-26-02
          <br/><strong>        </strong>  +375 (33) 633-87-40
        </div>
        <!--<div class="f_contact f_contact_3"><strong>Email:</strong> <a href="mailto:#">testmail@sitename.com</a></div>-->
      </div>
      <div class="f_widget divide last frame_wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2359.1791324262126!2d27.330687915853762!3d53.75069333006576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd807fc8b0e77%3A0xa67c4f9440eb6968!2sAdministrativno-Proizvodstvennyy+Kompleks%2C+Ulitsa+Yanki+Kupaly+3%2C+Fanipa%C4%BA+222750!5e0!3m2!1sen!2sby!4v1521530099362" width="204" height="219" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!--<iframe width="204" height="219" src="https://www.google.by/maps/place/Administrativno-Proizvodstvennyy+Kompleks,+Ulitsa+Yanki+Kupaly+3,+Fanipa%C4%BA+222750/@53.7506933,27.3306879,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbd807fc8b0e77:0xa67c4f9440eb6968!8m2!3d53.7505283!4d27.3331092?hl=en"></iframe>-->
      </div>
    </div>
  </div>
  <div class="bottom_footer">
    <div class="f_widget ">
      <h3><strong>О</strong> нас</h3>
      <ul>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Наши партнеры</a></li>
        <li><a href="#">Карта сайта</a></li>
      </ul>
    </div>
    <div class="f_widget divide">
      <h3><strong>Нужна</strong> помощь?</h3>
      <ul>
        <li><a href="#">Какую емкость аккумулятора выбрать?</a></li>
        <li><a href="#">Определение полярности аккумуляторных батарей</a></li>
        <li><a href="#">Прайс лист</a></li>
      </ul>
    </div>
    <div class="fwidget_separator"></div>
    <!--<div class="f_widget">-->
      <!--<h3><strong>User</strong> area</h3>-->
      <!--<ul>-->
        <!--<li><a href="#">Add an offer</a></li>-->
        <!--<li><a href="#">Register dealder</a></li>-->
        <!--<li><a href="#">Login Dealer</a></li>-->
        <!--<li><a href="#">News</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <div class="f_widget divide last">
      <h3><strong>Find</strong> us here</h3>
      <ul class="horizontal">

        <li><a href="#"><img src="/css/images/fb_icon.png" alt=""></a></li>
        <li><a href="#"><img src="/css/images/twitter_icon.png" alt=""></a></li>
        <li><a href="#"><img src="/css/images/in_icon.png" alt=""></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright_wrapper">
    <div class="copyright">&copy; 2018 Auto GT. All Rights Reserved.</div>
  </div>
</div>

